.bookingForm-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
    overflow: hidden; /* Prevent scrolling */
  }
  
  .bf-bg {
    width: 100vw;
    height: 320px;
    background-image: url('../assets/Hbg.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;     
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .details-container-form {
    width: 100vw;
    min-height: 110px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bookingpanel-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    margin-left: 110px;
  }
  
  .booking-item-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    gap: 5px;
    position: relative;
    padding: 0 10px;
    margin-top: 10px;
  }
  
  .booking-item-form::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 50px;
    background-color: #ccc;
  }
  
  .booking-item-form:last-of-type::after {
    display: none;
  }
  
  .booking-item-form span {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -10px;
  }
  
  .booking-item-form span i {
    font-size: 15px;
    color: #c79b45;
  }
  
  .booking-item-form input {
    font-size: 16px;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .book-form {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
  }

  .form-text {
    font-family: "Raleway", sans-serif;
    font-weight: bold; 
    font-size: 35px;
    color: #b89445;
    margin: 30px 0;
    text-align: center;
    margin-right: 1080px;
  }

  .row-container {
    display: flex;
    position: relative;
  }

  .booking-card {
    width: 300px;
    max-height: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin-left: 20px;
  }

  .room-rate-card{
    display: flex;
    align-items: center;
    gap: 90px; 
    margin-top: 0px;
  }
  
  .card-content {
    padding: 16px;
  }

  .card-content img {
    width: 320px;
    height: 150px;
    object-fit: cover;
    margin-left: -20px;
    margin-top: -20px;
  }
  
  .room-title-card {
    font-size: 16px;
    font-weight: medium;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #000000;
  }
  
  .room-price-card {
    display: flex-end;
    font-size: 14px;
    color: #666;
    margin: 12px 0;
  }
  
  .room-details-card {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 0px;
  }
  
  .charge-item-card {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  
  .card hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 16px 0;
  }
  
  .total-card {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .subtotal-card {
    font-size: 12px;
    color: #888;
    text-align: right;
    margin-top: 10px;
  }  

  .info-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 1000px;
    height: auto;
    margin-left: 230px;
  }

  .info-container p {
    color: #999;
    margin-left: 25px;
    margin-top: -65px;
    margin-bottom: 40px;
  }


  .summary-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
  }

  .info-container h3,
  .summary-container h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-bottom: 80px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-left: 25px;
  }
  
  .info-container label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .info-container input {
    width: 430px;
    height: 20px;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    background: transparent;
  }

  .info-container label::after {
    content: " *";
    color: red;
  }

  .info-container input:focus,
  .info-container select:focus {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #0084ff;
    background: transparent;
  }

  .info-container select {
    width: 450px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    background: transparent;
    border-radius: 8px;
  }

  .payment-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 1000px;
    height: auto;
    margin-top: 20px;
    margin-left: 230px;
  }

  .payment-container h3 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .payment-method {
    margin-bottom: 20px;
  }

  .payment-method-group {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }

  .payment-method input[type="radio"] {
    width: 18px; /* Set the width of the radio button */
    height: 18px; /* Set the height of the radio button */
  }

  .payment-method label {
    font-size: 16px;
    color: #3B4256;
    font-weight: 500;
  }
  
  .payment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-left: 25px;
  } 

  .payment-grid label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    margin-left: 25px;
  }

  .payment-grid input,
  .payment-grid select {
    width: 420px;
    height: 20px;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    background: transparent;
    margin-left: 25px;
  }

  .payment-grid input:focus,
  .payment-grid select:focus {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #0084ff;
    background: transparent;
  }

  .expiration-row {
    display: flex;
  }
  
  .expiration-row div {
    flex: 1;
  }
  
  .expiration-row select {
    padding: 5px;
    width: 200px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    background: transparent;
    border-radius: 8px;
  }

  .gcash-inputs input {
    width: 400px;
    height: 20px;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: 0;
    background: transparent;
    margin-left: 35px;
  }

  .gcash-inputs label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
    margin-left: 35px;
    margin-top: 10px;
  }
  
    .rules-container {
      background-color: transparent;
      border-radius: 8px;
      flex: 1;
      width: 1000px;
      height: auto;
      margin-top: 20px;
      margin-left: 230px;
    }

    .rules-container h3 {
      font-size: 18px;
      font-weight: 500;
      color: #333;
      margin-left: 10px;
    }

    .rules-container p {
      font-size: 16px;
      font-weight: 400;
      color: #333;
      margin-left: 10px;
      text-align: justify;
    }

  .submit-button {
    align-self: flex-end;
    background-color: #B79344;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 16px;
    width: 1040px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 230px;
    margin-top: 50px;
  }
  
  .submit-button:hover {
    background-color: #a87c3c;
  }
  
  .submit-button:focus {
    outline: none;
  }