.footer {
  width: 100vw; /* Corrected to 100vw */
  height: 200px; 
  background-color: #8c7547;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative; /* Ensures it anchors properly */
  left: 0; /* Anchors it to the left edge */
  bottom: 0; /* Makes sure it stays at the bottom */
}
  
  .footer img {
    max-width: 150px; 
    height: auto;
  }
  
  .footer p {
    margin-top: 10px; 
    font-size: 14px;
    color: white !important;
    font-family: 'Poppins', sans-serif;
  }
  