.selectRoom-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
  overflow: hidden; /* Prevent scrolling */
}

.sr-bg-select {
  width: 100vw;
  height: 320px;
  background-image: url('../assets/Hbg.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.details-container-select {
  width: 100vw;
  min-height: 110px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingpanel-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;
  margin-left: 110px;
}

.booking-item-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 5px;
  position: relative;
  padding: 0 10px;
  margin-top: 10px;
}

.booking-item-select::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 50px;
  background-color: #ccc;
}

.booking-item-select:last-of-type::after {
  display: none;
}

.booking-item-select span {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: -10px;
}

.booking-item-select span i {
  font-size: 15px;
  color: #c79b45;
}

.booking-item-select input {
  font-size: 16px;
  padding: 8px;
  width: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.book-room-select {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.select-room-header {
  display: flex;
  justify-content: space-between;  /* Align items on opposite sides */
  align-items: center;
  margin-bottom: 20px;  /* Add some space below the header */
}

.select-text {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #b89445;
  margin-left: 270px;
}

.sort-controls {
  display: flex;
  align-items: center;
  margin-right: 270px;
}

.sort-controls label {
  margin-right: 8px;
  font-size: 16px;
}

.sort-controls select {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #ccc;
  margin-top: -8px;
  height: 35px;
  width: 110px;
}